 .profilePictureContainer {
  height: auto;
  width: 275px;
  margin:auto;
  margin-top:30px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image {
  opacity: 1;
  display: block;
  width: 275px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
.middle {
  transition: .5s ease;
  opacity: 0;
  padding:5px;
  text-align: center;
  vertical-align: center;
}

.profilePictureContainer:hover .image {
  opacity: 0.3;
}
  
.profilePictureContainer:hover .middle {
  opacity: 1;
}
  
.text {
  background-color: rgb(0, 188, 212);
  color: white;
  font-size: 16px;
}

.userDataTable {
  margin-top:20px;
  padding:20px;
}

.badgesDataTable {
  margin-top:2px;
  padding:2px;
}

.title {
  font-size:50px;
  padding-top:30px;
}

.toolbar li {
  display: block;
  list-style: none;
  margin: auto;
  width:1050px;
}

.toolbar li:hover {
  background-color:rgb(0, 188, 212);
  color:white;
  display: block;
  list-style: none;
  margin: auto;
  width:1050px;
  border: 1px solid rgb(0, 188, 212);
}

.leaderBoardDropdown {
  margin-bottom: 40px;
}

.leaderBoardTable {
  padding-bottom: 60px;
}

.inputFields {
  margin: 20px;
}