 .profilePictureContainer {
  height: auto;
  width: 275px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image {
  opacity: 1;
  display: block;
  width: 275px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  
.middle {
  transition: .5s ease;
  opacity: 0;
  padding:5px;
  text-align: center;
  vertical-align: center;
}

.profilePictureContainer:hover .image {
  opacity: 0.3;
}
  
.profilePictureContainer:hover .middle {
  opacity: 1;
}
  
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

.userDataTable {
  margin-top:20px;
  padding:20px;
}